<div class="admin-dashboard">

  <div class="top-bar">
    <h1 class="page-title">Admin Dashboard</h1>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div class="btn-grid">
    <button (click)="go('/admin/add-post')">Add Blog</button>
    <button (click)="go('/admin/faq')">Add FAQs</button>
    <button (click)="go('/admin/equipment-form')">Add Equipment</button>
    <button (click)="go('/admin/blog')">Blogs</button>
    <button (click)="go('/admin/faqs')">FAQs</button>
    <button (click)="go('/admin/equipment')">Equipment</button>
    <button (click)="go('/admin/pages')">Pages</button>
    <button (click)="go('/admin/blog-list')">Blog-List</button>
    <button (click)="go('/admin/equipment-list')">Equipment List</button>
    <button (click)="go('/admin/faq-list')">FAQ List</button>
    <button (click)="go('/admin/author-form')">Add Author</button>
    <button (click)="go('/admin/author-list')">Authors</button>
  </div>

</div>
