<div class="admin-dashboard">

  <div class="top-bar">
    <h2>Admin Dashboard</h2>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

  <div class="btn-grid">
    <button (click)="go('/admin/add-post')">Add Blog</button>
    <button (click)="go('/admin/faq')">Add FAQs</button>
    <button (click)="go('/admin/equipment-form')">Add Equipment</button>
    <button (click)="go('/admin/blog')">Blogs</button>
    <button (click)="go('/admin/pages')">Pages</button>
    <button (click)="go('/admin/blog-list')">Blog-List</button>
    <button (click)="go('/admin/equipment-list')">Equipment List</button>
  </div>

</div>
